* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 1;
    background-image: url(images/holden-baxter-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
}

.company-info {
    background-color: rgb(211, 211, 211, 0.3);
    padding: 8px 0;
    position: absolute;
    width: 100%;
    top: 5rem;
}
.company-logo {
    width: 150px;
}

.company-name {
    font-size: large;
    font-weight: bold;
    letter-spacing: 5px;
}

.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    
}

.intro, .submit {
    background-color: rgb(115, 87, 63, 0.1);
    flex: 1;

}

.intro {
   font-size: large;
   padding: 32px;
   padding-right: 30%;
   
}

.form {
    padding: 20px 32px 32px;
    max-height: 40%;
    flex: 1;
    box-shadow: 0px 8px 8px rgb(115, 87, 63, 0.3);
    padding-right: 30%;

}

.form-title {
    font-size: large;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;
}

input {
    width: 200px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    
    
}

input:focus {
    box-shadow: 2px 2px 4px gray;
    outline: none;
    border-color: blue;
    
    
}


label {
    display:block;
}



button {
    padding: 8px 32px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: #73573F;
    color: white;
    box-shadow: 2px 2px 4px rgb(115, 87, 63, 0.4);
}

.submit {
    padding: 32px;
}

.submit > p {
    font-size: smaller;
}

span {
    color: #73573F;
}